@model IEnumerable<LucidHomeMVC4.Models.WorkoutSetModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.When)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.When)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item._id }) |
            @Html.ActionLink("Details", "Details", new { id=item._id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item._id })
        </td>
    </tr>
}

</table>
